<a href="https://colab.research.google.com/github/muhammad-zulfikar/adblock-magisk-module/blob/main/dataprep.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
# Import pandas library

import pandas as pd

In [7]:
# Read in CSV files as Pandas dataframes

companies = pd.read_csv(r'/content/drive/MyDrive/Colab Notebooks/resources/companies.csv')
industries = pd.read_csv(r'/content/drive/MyDrive/Colab Notebooks/resources/industries.csv')
industries_id = pd.read_csv(r'/content/drive/MyDrive/Colab Notebooks/resources/industries_id.csv')
jobs = pd.read_csv(r'/content/drive/MyDrive/Colab Notebooks/resources/job_postings.csv')
skills = pd.read_csv(r'/content/drive/MyDrive/Colab Notebooks/resources/skills.csv')
skills_id = pd.read_csv(r'/content/drive/MyDrive/Colab Notebooks/resources/skills_id.csv')

In [8]:
# Join jobs and companies data on company_id

jobs = jobs.merge(companies, on='company_id', how = 'left')


# Join industries and industries_id on industry_id

industries = industries_id.merge(industries, on = 'industry_id', how = 'left')


# Join skills and skills_id on skill_abr

skills = skills_id.merge(skills, on = 'skill_abr', how = 'left')

In [9]:
# Remove any duplicated rows

jobs = jobs.drop_duplicates()
industries = industries.drop_duplicates()
skills = skills.drop_duplicates()

In [10]:
# Drop unnecessary columns from jobs dataframe

jobs = jobs.drop(columns = ['description_x', 'description_y', 'original_listed_time', 'skills_desc', 'job_posting_url', 'application_url', 'application_type', 'expiry', 'closed_time', 'listed_time', 'posting_domain', 'sponsored', 'currency', 'compensation_type', 'scraped', 'zip_code', 'url'])

In [11]:
# Identify columns with missing values in jobs dataframe

jobs_missing = jobs.isnull().sum()
jobs_missing = jobs_missing[jobs_missing > 0].sort_values(ascending=False)
jobs_missing

med_salary                    31005
remote_allowed                28444
max_salary                    22135
min_salary                    22135
pay_period                    19894
applies                       17008
formatted_experience_level     9181
views                          7360
company_size                   2150
address                         718
state                           712
name                            705
city                            702
country                         701
company_id                      654
dtype: int64

In [12]:
# Check for null values in other dataframes

industries.isnull().sum()
skills.isnull().sum()

job_id        0
skill_abr     0
skill_name    0
dtype: int64

In [13]:
# Fill missing categorical values with "Not Specified"

not_specified = ['remote_allowed', 'pay_period', 'formatted_experience_level', 'company_size', 'address', 'state', 'name', 'city', 'country', 'company_id']
for col in not_specified:
  jobs[col].fillna("Not Specified", inplace = True)

not_specified = ['industry_name']
for col in not_specified:
  industries[col].fillna("Not Specified", inplace = True)


# Fill missing numerical values with 0

zeros = ['applies', 'views']
for col in zeros:
  jobs[col].fillna(0, inplace = True)

In [14]:
# Confirm missing values have been handled

jobs.isnull().sum()
industries.isnull().sum()

job_id           0
industry_id      0
industry_name    0
dtype: int64

In [15]:
# Export cleaned dataframes to CSV

jobs.to_csv(r'/content/drive/MyDrive/Colab Notebooks/resources/output/jobs.csv')
skills.to_csv(r'/content/drive/MyDrive/Colab Notebooks/resources/output/skills.csv')
industries.to_csv(r'/content/drive/MyDrive/Colab Notebooks/resources/output/industries.csv')